<h1>Login</h1>
<div>
    {{!-- messages.error gets set by flash setting a messages variable to all
    different flash messages, passport is going to set an error as defined 
    by the third parameter in any failed done() in passport-config 
    (so the error any given user gets at any given time) --}}
{{#if messages.error}}
<h3>{{messages.error}}</h3>
{{/if}}
</div>
<form action="/login" method="POST">
<div>
    <label for="email">Email</label>
    <input type="text" id="email" name="email" required>
</div>
<div>
    <label for="password">Password</label>
    <input type="text" id="password" name="password" required>
</div>
<button type="submit">Login</button>
<br>
<a href="/Register">Register</a>
</form>